
body{
	/*
	margin-top:50px;
	background-color: #303030;*/
	}
.navbar-default .navbar-brand {
  color: #F0F0F0;
}	
	
.navbar-brand {
  font-size:23px;line-height:21px;height:50px;
 
}
.sitename_desc {
	color: #A9A9A9;
	font-family:ËÎÌו
	font-weight:bold;
  font-style:oblique; /*italic */
  font-size:14px
}
	
.container {
	color:#FFFFFF	
}

.profile_pic {
    background-size: 32px 32px;
    border-radius: 50%;
    display: block;
    margin: 0px 0px 0px 0px;
    height: 32px;
    width: 32px;
    float: left;
}


/*


.navbar-default {
  background-color: #000000;
  border-color: #0d9a74;
  height: 50px;
}
.navbar-default .navbar-brand {
  color: #e0e0e0;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #e0e0e0;
}
.navbar-default .navbar-nav > li > a {
  color: #e0e0e0;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #0d9a74;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #0d9a74;
}
.navbar-default .navbar-toggle {
  border-color: #0d9a74;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #0d9a74;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #e0e0e0;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e0e0e0;
}
.navbar-default .navbar-link {
  color: #e0e0e0;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #e0e0e0;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #0d9a74;
  }
}

*/

